Repository swsoyee/2019-ncov-japan, pull requests merged in 2020-05, with the labels that each got.

#146 [refactor] ファイル移動
  50_Data/Collection/provinceCode.csv
Labels: data_update

#119 多言語バージョン実装
  00_System/CreateTable.R
  00_System/CreateTable.Translate.R
  02_Utils/Functions.R
  03_Components/BarChart.R
  03_Components/Main/ComfirmedPyramid.server.R
  03_Components/Main/ComfirmedPyramid.ui.R
  03_Components/Main/ConfirmedMap.server.R
  03_Components/Main/ConfirmedMap.ui.R
  03_Components/Main/DescriptionValue.ui.R
  03_Components/Main/FirstRow.ui.R
  03_Components/Main/NewsList.ui.R
  03_Components/Main/SummaryTable.server.R
  03_Components/Main/SymptomsProgression.ui.R
  03_Components/Main/Tendency.Confirmed.server.R
  03_Components/Main/Tendency.Confirmed.ui.R
  03_Components/Main/Tendency.ui.R
  03_Components/Main/clusterTabButton.ui.R
  03_Components/Notification.R
  03_Components/UiTabRegionPCR.R
  04_Pages/Academic/Academic.ui.R
  04_Pages/Main/Main.ui.R
  04_Pages/Main/Utils/ValueBox.R
  04_Pages/Pref/Aomori-UI.R
  04_Pages/Pref/Hokkaido-UI.R
  04_Pages/Pref/Ibaraki-UI.R
  04_Pages/Pref/Iwate-UI.R
  04_Pages/Pref/Kanagawa-UI.R
  04_Pages/Pref/Miyagi-UI.R
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  global.R
  server.R
  ui.R
  www/lang/translation.json
Labels: data_update, enhancement

#151 data update pull request; infected: 伊客船 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#153 data update pull request; infected: 山形 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#158 data update pull request; infected: 神奈川 2; deaths: 神奈川 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#160 data update pull request; infected: 兵庫 1; deaths: 奈良 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#161 data update pull request; infected: 広島 4; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#162 data update pull request; infected: 佐賀 1 北海道 2; deaths: 北海道 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#163 data update pull request; infected: ; deaths: 富山 2
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#164 data update pull request; infected: 神奈川 2; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#165 data update pull request; infected: 千葉 4; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#166 data update pull request; infected: 神奈川 6; deaths: 神奈川 2
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#167 data update pull request; infected: 石川 3; deaths: 埼玉 1 石川 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#168 data update pull request; infected: 滋賀 2 長野 2; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#169 data update pull request; infected: 埼玉 1 大阪 13; deaths: 大阪 3
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#171 data update pull request; infected: 京都 3 埼玉 4 山口 1 愛知 2 福岡 1 茨城 2; deaths: 茨城 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#172 data update pull request; infected: 富山 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#173 data update pull request; infected: 愛知 1; deaths: 東京 5
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#174 data update pull request; infected: 埼玉 4; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#176 data update pull request; infected: ; deaths: 兵庫 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#178 data update pull request; infected: 新潟 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#179 data update pull request; infected: 兵庫 3; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#180 data update pull request; infected: 北海道 3; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#181 data update pull request; infected: 兵庫 3; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#183 data update pull request; infected: 北海道 9 埼玉 1 奈良 1; deaths: 北海道 2 奈良 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#184 data update pull request; infected: 富山 2; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#185 data update pull request; infected: 千葉 1; deaths: 千葉 2
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#186 data update pull request; infected: 福岡 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#187 data update pull request; infected: 石川 1 福島 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#188 data update pull request; infected: 京都 4 埼玉 1 大阪 7 茨城 1; deaths: 京都 1 大阪 3
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#189 data update pull request; infected: 富山 1 愛知 3; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#190 data update pull request; infected: 山口 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#201 data update pull request; infected: 兵庫 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#203 data update pull request; infected: 神奈川 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#204 data update pull request; infected: 北海道 7; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#205 data update pull request; infected: 千葉 2; deaths: 千葉 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#206 data update pull request; infected: 福島 1 長野 1; deaths: 埼玉 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#220 data update pull request; infected: 群馬 1; deaths: 群馬 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#223 data update pull request; infected: ; deaths: 兵庫 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#224 data update pull request; infected: 北海道 2; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#225 data update pull request; infected: 兵庫 3 北海道 3; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#226 data update pull request; infected: 千葉 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#227 data update pull request; infected: 北海道 9 神奈川 5; deaths: 北海道 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#228 data update pull request; infected: ; deaths: 兵庫 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#229 data update pull request; infected: 石川 4; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#230 data update pull request; infected: 千葉 4 神奈川 1; deaths: 千葉 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#231 data update pull request; infected: 埼玉 2; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#232 data update pull request; infected: 東京 23; deaths: 埼玉 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#233 data update pull request; infected: 大阪 8; deaths: 大阪 3
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#234 data update pull request; infected: 福岡 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#235 data update pull request; infected: 富山 1 検疫職員 2 神奈川 7; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#236 data update pull request; infected: 京都 6; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#237 data update pull request; infected: 埼玉 1; deaths: 東京 5
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#238 data update pull request; infected: 埼玉 11; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#239 data update pull request; infected: 栃木 1 青森 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#240 data update pull request; infected: 長野 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#242 data update pull request; infected: 新潟 3; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#243 data update pull request; infected: 兵庫 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#244 data update pull request; infected: 神奈川 3; deaths: 神奈川 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#245 data update pull request; infected: 北海道 2; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#246 data update pull request; infected: 北海道 4; deaths: 北海道 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#247 data update pull request; infected: 奈良 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#249 data update pull request; infected: 千葉 1 神奈川 1; deaths: 富山 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#250 data update pull request; infected: 千葉 2 神奈川 3; deaths: 神奈川 2
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#251 data update pull request; infected: 京都 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#252 data update pull request; infected: 埼玉 1 大阪 10 検疫職員 1 福島 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#253 data update pull request; infected: 富山 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#254 data update pull request; infected: 岡山 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#255 data update pull request; infected: ; deaths: 東京 11
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#256 data update pull request; infected: 埼玉 10; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#258 data update pull request; infected: 栃木 1 熊本 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#269 data update pull request; infected: ; deaths: 熊本 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#271 data update pull request; infected: 北海道 1; deaths: 兵庫 1 北海道 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#272 data update pull request; infected: 北海道 2; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#273 data update pull request; infected: 兵庫 2 長野 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#274 data update pull request; infected: 兵庫 5 北海道 8; deaths: 兵庫 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#275 data update pull request; infected: ; deaths: 神奈川 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#276 data update pull request; infected: 奈良 1 富山 2; deaths: 北海道 2
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#278 data update pull request; infected: 千葉 2 埼玉 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#280 data update pull request; infected: 千葉 1; deaths: 千葉 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#281 data update pull request; infected: 大阪 16; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#282 data update pull request; infected: 京都 4; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#283 data update pull request; infected: 富山 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#285 data update pull request; infected: 愛知 1 福岡 2; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#287 data update pull request; infected: 神奈川 7; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#288 data update pull request; infected: 愛知 2; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#289 data update pull request; infected: 埼玉 14; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#290 data update pull request; infected: ; deaths: 東京 9
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#291 data update pull request; infected: 埼玉 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#284 多次元比較タブ追加
  03_Components/Main/ComparePref.server.R
  03_Components/Main/ComparePref.ui.R
  04_Pages/Main/Main.ui.R
  04_Pages/Pref/Aomori-Server.R
  04_Pages/Pref/Ibaraki-Server.R
  04_Pages/Pref/Kanagawa-Server.R
  04_Pages/Pref/Miyagi-Server.R
  global.R
  server.R
  www/lang/translation.json
Labels: enhancement

#294 data update pull request; infected: 兵庫 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#295 data update pull request; infected: 兵庫 1 北海道 9; deaths: 北海道 5
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#296 data update pull request; infected: 兵庫 3 埼玉 1 神奈川 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#297 data update pull request; infected: 千葉 1 埼玉 1; deaths: 千葉 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#298 data update pull request; infected: 石川 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#299 data update pull request; infected: 大阪 11; deaths: 神奈川 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#300 data update pull request; infected: 神奈川 12; deaths: 神奈川 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#301 data update pull request; infected: 福岡 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#303 data update pull request; infected: 埼玉 3 検疫職員 2; deaths: 埼玉 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#305 data update pull request; infected: ; deaths: 富山 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#307 data update pull request; infected: 北海道 10; deaths: 北海道 6
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#308 data update pull request; infected: 神奈川 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#309 data update pull request; infected: ; deaths: 和歌山 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#311 [feat] countup追加
  04_Pages/Main/Utils/ValueBox.R
  04_Pages/Pref/Utils.R
  global.R
Labels: enhancement

#314 data update pull request; infected: 岡山 1 石川 2; deaths: 石川 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#315 data update pull request; infected: 神奈川 5; deaths: 神奈川 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#316 data update pull request; infected: 埼玉 2 愛知 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#318 data update pull request; infected: ; deaths: 神奈川 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#321 data update pull request; infected: ; deaths: 富山 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#323 data update pull request; infected: ; deaths: 沖縄 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#324 data update pull request; infected: 北海道 13; deaths: 北海道 6
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#326 data update pull request; infected: ; deaths: 神奈川 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#327 data update pull request; infected: 神奈川 10; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#328 data update pull request; infected: 和歌山 1; deaths: 兵庫 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#329 data update pull request; infected: 千葉 3 石川 3 神奈川 5 福岡 1; deaths: 石川 2 神奈川 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#330 data update pull request; infected: 京都 4; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#331 data update pull request; infected: 富山 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#332 data update pull request; infected: 大阪 6; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#333 data update pull request; infected: 愛知 1 検疫職員 2; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#335 data update pull request; infected: ; deaths: 埼玉 1 東京 7
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#336 data update pull request; infected: 埼玉 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#341 data update pull request; infected: 山梨 1 栃木 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#343 data update pull request; infected: 愛媛 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#344 data update pull request; infected: 兵庫 3 北海道 1; deaths: 北海道 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#345 data update pull request; infected: 神奈川 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#346 data update pull request; infected: 北海道 3; deaths: 北海道 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#347 data update pull request; infected: 神奈川 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#348 data update pull request; infected: 長野 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#349 data update pull request; infected: 千葉 2; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#351 data update pull request; infected: 石川 1; deaths: 福岡 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#352 data update pull request; infected: 京都 1 愛媛 2; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#353 data update pull request; infected: 大阪 12 神奈川 8; deaths: 兵庫 2 大阪 1 神奈川 3
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#354 data update pull request; infected: 愛知 1 検疫職員 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#359 data update pull request; infected: ; deaths: 富山 1 東京 7
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#361 data update pull request; infected: 埼玉 4; deaths: 埼玉 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#362 data update pull request; infected: 愛媛 17; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#363 data update pull request; infected: ; deaths: 岐阜 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#365 data update pull request; infected: 富山 2; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#366 data update pull request; infected: 兵庫 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#368 data update pull request; infected: 神奈川 3; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#369 data update pull request; infected: 北海道 6; deaths: 北海道 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#371 data update pull request; infected: 神奈川 10; deaths: 石川 1 神奈川 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#372 data update pull request; infected: ; deaths: 北海道 1 富山 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#373 data update pull request; infected: 神奈川 19; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#374 data update pull request; infected: 京都 1 大阪 3; deaths: 大阪 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#375 data update pull request; infected: 愛知 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#376 data update pull request; infected: ; deaths: 埼玉 1
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
Labels: data_update

#380 data update pull request; infected: 栃木 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#392 data update pull request; infected: 北海道 1; deaths:
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update

#394 data update pull request; infected: 富山 2 神奈川 1; deaths: 神奈川 2
  50_Data/Generated/resultSummaryTable.cn.csv
  50_Data/Generated/resultSummaryTable.en.csv
  50_Data/Generated/resultSummaryTable.ja.csv
  50_Data/byDate.csv
  50_Data/death.csv
  50_Data/mhlw_houdou.csv
  50_Data/result.map.csv
Labels: data_update
